:root {
	/* font */
	--lms--font-family: 'DM Sans', sans-serif;

	  /* color */
      --lms--color-primary: #d2232a;
      --lms--color-primary-light: #d2232a4d;
      --lms--color-base: #eaf1fb;
      --lms--color-secondary: #58585a;
    
      --lms--color-success: #1db954;
      --lms--color-success-light: #a7e8b0;
      --lms--color-success-dark: #10793c;
      --lms--color-success-200: #3bb155;
      --lms--color-success-100: #e1f6e6;
    
      --lms--color-purple-200: #9b52e4;
      --lms--color-purple-100: #efe3fb;
    
      --lms--color-info: #2e77d0;
      --lms--color-info-light: #a9c8f2;
      --lms--color-info-dark: #1a5193;
      --lms--color-info-100: #ddeefb;
      --lms--color-info-200: #2995e9;
      --lms--color-info-300: #e5e9f1;
    
      --lms--color-warning: #ffed51;
      --lms--color-warning-light: #fff8a5;
      --lms--color-warning-dark: #c7a800;
      --lms--color-warning-100: #fff5da;
      --lms--color-warning-200: #eda210;
      --lms--color-warning-300: #fdeeee;
      --lms--color-warning-400: #fcdcdc;
    
      --lms--color-slate-100: #7c8798;
      --lms--color-slate-200: #f1f3f7;
    
      --lms--color-grey-50: #f8f8f8;
      --lms--color-grey-100: #eeeeee;
      --lms--color-grey-150: #d9d9d9;
      --lms--color-grey-200: #bdbdbd;
      --lms--color-grey-250: #c5cddb;
      --lms--color-grey-300: #9e9e9e;
      --lms--color-grey-350: #8893a6;
      --lms--color-grey-400: #757575;
      --lms--color-grey-450: #888888;
      --lms--color-grey-500: #616161;
      --lms--color-grey-600: #404040;
      --lms--color-grey-700: #333333;
      --lms--color-grey-800: #282828;
      --lms--color-grey-900: #181818;
    
      --lms--color-danger: #e22134;
      --lms--color-danger-light: #f8a1a8;
      --lms--color-danger-dark: #a21724;
      --lms--color-danger-300: #dc3545;
      --lms--color-danger-400: #EE4E4E;
      --lms--color-danger-hover: #b91f25;
      --lms--color-danger-pressed: #ac1d22;
      --lms--color-danger-200: #fef2f2;
      --lms--color-white: #ffffff;
      --lms--color-black: #000000;
    

	/* font-weight */
	--lms-fw-400: 400;
	--lms-fw-500: 500;
	--lms-fw-700: 700;
	--lms-fw-800: 800;

	/* font-size */
	--lms-fs-display-1: 80px;
	--lms-fs-display-2: 48px;
	--lms-fs-heading-1: 32px;
	--lms-fs-heading-2: 24px;
	--lms-fs-heading-3: 18px;
	--lms-fs-body-text-1: 16px;
	--lms-fs-body-14: 14px;
	--lms-fs-body-12: 12px;
	--lms-fs-body-12: 10px;

	/* line-height */
	--lms-lh-88: 88px;
	--lms-lh-56: 56px;
	--lms-lh-40: 40px;
	--lms-lh-32: 32px;
	--lms-lh-26: 26px;
	--lms-lh-24: 24px;
	--lms-lh-20: 20px;
	--lms-lh-16: 16px;
	--lms-lh-14: 14px;

	/* spacing */
	--lms-ls--2: -2px;
	--lms-ls--1: -1px;
	--lms-ls--0-5: -0.5px;
	--lms-ls--0-25: -0.25px;
	--lms-ls-0: 0;
	--lms-ls-0-25: 0.25px;
	--lms-ls-1: 1px;
	--lms-ls-1-5: 1.5px;

	/* gap */
	--lms-gap-0: 0;
	--lms-gap-1: 4px;
	--lms-gap-2: 8px;
	--lms-gap-3: 12px;
	--lms-gap-4: 16px;
	--lms-gap-5: 20px;
	--lms-gap-6: 24px;
	--lms-gap-7: 28px;
	--lms-gap-8: 32px;
}

@media (max-width: 1024px) {
	#lms-sidebar.overlay {
		display: block;
		width: 260px;
		z-index: 9999999;
		background-color: #eaf1fb;
		opacity: 1;
	}

	#lms-sidebar.overlay .logo-wrapper {
		display: block;
	}

	#lms-sidebar.overlay .sidebar-action-msg {
		display: inline;
	}

	#lms-sidebar.overlay .sidebar-list .sidebar-label {
		display: inline !important;
	}

	#lms-sidebar.overlay .sidebar-list {
		padding-left: 20px;
	}
}

@media (max-width: 768px) {
  #lms-sidebar {
    transform: translateX(-260px);
    opacity: 0;
		background-color: #eaf1fb;
		z-index: 9999999;
    transition: transform 300ms, opacity 300ms;
  }

	#lms-sidebar.overlay {
    transform: translateX(0px);
    opacity: 1;
	}
}

/* ---------------input--------------- */
.lms-input-container {
    height: 50px;
    position: relative;
    /* width: 100%; */
  }

  .lms-input {
    background-color: var(--lms--color-white);
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.3px;
    letter-spacing: 0.30000001192092896px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    outline: 0;
    padding: 12px 16px;
    border: 1px solid #e5e9f1;
    border-radius: 8px;
  }
  
  .lms-input.error {
    border: 1px solid var(--lms--color-primary);
  }
  
  .lms-input:disabled {
    background-color: var(--lms--color-base);
  }

  .lms-input.error ~ .lms-placeholder {
    color: var(--lms--color-primary);
  }

  .lms-placeholder {
    background-color: #ffffff;
    color: #888888;
    font-family: var(--lms--font-family);
    position: absolute;
    left: 20px;
    top: 16px;
    pointer-events: none;
    transform-origin: 0 50%;
    transition: all 150ms ease-in-out;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.4px;
    letter-spacing: 0.30000001192092896px;
  }
  
  .lms-placeholder span {
    color: #cf1e0a;
  }
  
  .lms-input:focus ~ .lms-placeholder,
  .lms-input:not(:placeholder-shown) ~ .lms-placeholder {
    transform: translateY(-25px) translateX(-5px) scale(1.05);
    padding: 0 6px;
    background-color: #ffffff;
    border-radius: 4px;
  }
  
  .lms-input:not(:placeholder-shown) ~ .lms-placeholder {
    color: #888888;
  }
  
  .lms-error-msg {
    font-family: var(--lms--font-family);
    color: var(--lms--color-danger-400);
    padding: 0 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.4px;
    letter-spacing: 0.30000001192092896px;
  }
  
  .lms-hint-msg {
    font-family: var(--lms--font-family);
    color: var(--lms--color-slate-100);
    padding: 4px 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.4px;
    letter-spacing: 0.30000001192092896px;
  }

  .required {
    color: #cf1e0a;
  }

  .lms-custom-select-wrapper .lms-custom-select-trigger .placeholder {
    position: absolute;
    display: none;
    color: var(--lms--color-grey-450);
    padding: 0 6px;
  }

  .lms-custom-select-wrapper .lms-custom-select-trigger .placeholder.active {
    transform: translateY(-25px) translateX(-5px) scale(1.05);
    display: block;
    background: white;
  }