@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@layer components {
	.lms-table {
		@apply min-w-full text-left;
	}

	.lms-table thead th {
		@apply px-5 py-[14px] text-sm leading-4 text-slate-100 text-table-header;
	}

	.lms-table tbody td {
		@apply px-5 py-[14px] text-sm leading-5 text-gray-900 text-body-2;
	}

	.lms-table tbody tr:hover {
		@apply bg-base rounded-lg cursor-pointer;
	}

	.lms-table tbody tr:hover *:not(.no-bold) {
		-webkit-text-stroke: 0.6px black;
	}

	.lms-table tbody tr:hover .no-bold {
		-webkit-text-stroke: 0.1px black;
	}

	.lms-table tbody tr:hover .action-icon .dot {
		fill: var(--lms--color-primary) !important;
	}

	.lms-table tr:hover td:first-child {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	
	.lms-table tr:hover td:last-child {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.lms-table tbody tr:hover .table-alternalte-text {
		@apply bg-white;
	}

	.lms-label-success {
		@apply bg-success-100 !text-success-200 text-cta-md-no-space font-medium leading-5 py-[3px] px-[12px] rounded-[20px]
		border-[1px] border-white w-fit;
	}

	.lms-label-light {
		@apply bg-slate-200 text-slate-100 text-cta-md-no-space font-medium leading-5 py-[3px] px-[12px] rounded-[20px]
		border-[1px] border-white w-fit;
	}

	.lms-label-info {
		@apply bg-purple-100 text-purple-200 text-cta-md-no-space font-medium leading-5 py-[3px] px-[12px] rounded-[20px]
		border-[1px] border-white w-fit;
	}

	.lms-label-info-b {
		@apply bg-info-100 text-info-200 text-cta-md-no-space font-medium leading-5 py-[3px] px-[12px] rounded-[20px]
		border-[1px] border-white w-fit;
	}

	.lms-label-warning {
		@apply bg-warning-100 text-warning-200 text-cta-md-no-space font-medium leading-5 py-[3px] px-[12px] rounded-[20px]
		border-[1px] border-white w-fit;
	}
}
